@tailwind base;
@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
